.env
.env.backup
app/laravel/node_modules
app/laravel/public/build
app/laravel/public/hot
app/laravel/public/storage
app/laravel/storage/*.key
app/laravel/vendor
app/laravel/.phpunit.result.cache
app/laravel/coverage/
app/laravel/reports/
app/laravel/Homestead.json
app/laravel/Homestead.yaml
app/laravel/auth.json
app/laravel/npm-debug.log
app/laravel/yarn-error.log
app/laravel/phpstan.neon
/.idea
/.vscode
/statuscode
clear.sh
mqtt/mosquitto/data
mqtt/mosquitto/log

app/laravel/public/js
app/laravel/public/css
app/laravel/public/mix-manifest.json