/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    /* IE9 Compat Modes */
    src: url('../fonts/nunito-v25-latin-regular.eot');
    src: local(''),
        /* IE6-IE8 */
        url('../fonts/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('../fonts/nunito-v25-latin-regular.woff2') format('woff2'),
        /* Modern Browsers */
        url('../fonts/nunito-v25-latin-regular.woff') format('woff'),
        /* Safari, Android, iOS */
        url('../fonts/nunito-v25-latin-regular.ttf') format('truetype'),
        /* Legacy iOS */
        url('../fonts/nunito-v25-latin-regular.svg#Nunito') format('svg');
}
