includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - routes/
        - config/
        - database/migrations/
        - database/seeders/

    # Rule level of 5 is a good starting point
    level: 5

    ignoreErrors: []

    excludePaths:
        - ./vendor/*
        - ./storage/*
        - ./bootstrap/cache/*
        - ./node_modules/*

    # Generate reports for SonarQube integration
    reportUnmatchedIgnoredErrors: false